tensorflow==2.18.0
keras==2.18.0
keras-nlp
numpy==1.26.4
scipy
scikit-learn
statsmodels==0.14.2
pandas
matplotlib
seaborn
notebook==7.2.0
jupyterlab==4.2.1
ipykernel==6.29.4
tqdm
joblib
xgboost==2.0.3
lightgbm==4.3.0
mne
umap-learn
tf-keras-vis
gcpds-visualizations==0.6
